@model WebStore.Models.EmployeeView
@{
    ViewBag.Title = "Информация о сотруднике";
}

<h3>@ViewBag.Title</h3>

<body>
    <p>ID: @Model.Id</p>
    <p>Имя: @Model.FirstName</p>
    <p>Фамилия: @Model.SurName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age</p>
    <p>Должность: @Model.Position</p>
    <p>@Html.ActionLink("Назад", "Index")</p>
</body>